<div class="chat-header">
  <div class="header-left">
    <div class="room-name">
      hogefuga
    </div>
  </div>
  <div class="header-right">
    <div class="chat-end">
      <a href="">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="chat-main">
  <div class="chat-contents">
    <div class="chat-title">
      <div class="chat-name">
      Tom
      </div>
      <div class="chat-date">
      2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="chat-content">
    おはよう
    </div>
  </div>
  <div class="chat-contents">
    <div class="chat-title">
      <div class="chat-name">
      Tom
      </div>
      <div class="chat-date">
      2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="chat-content">
    おはよう
    </div>
  </div>
</div>
<div class="chat-footer">
  <div class="chat-form">
    <input placeholder="type a message" class="form-message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="送信" class="form-submit">
</div>