<div class="chat-contents">
  <div class="chat-title">
    <div class="chat-name">
      <!-- 投稿したユーザー名情報を出力する -->
      <%= message.user.name %>
    </div>
    <div class="chat-date">
      <!-- 投稿した時刻を出力する -->
      <%= message.created_at %>
    </div>
  </div>
  <div class="lower-message">
    <div class="chat-content">
      <!-- 投稿したメッセージ内容を記述する -->
      <%= message.content %>
    </div>
  </div>
</div>