.wrapper{
  display: flex;
  height: 100vh;
}

.chat{
  background-color: #ffffff;
  width: calc(100vw - 300px);
}

.chat-header{
  height: 100px;
  padding: 0 40px;
}

.chat-main{
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0 40px;
}

.chat-footer{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
}

.side{
  background-color: #253141;
  width: 300px;
}

.side-header{
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a{
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}

.create-chat a{
  border: solid 1px lightblue;
  padding: 14px;
  color: deepskyblue;
  font-size: 10px;
  text-decoration: none;
}

.side-main{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}

.chat-room{
  padding: 20px 0 40px 0;
}

.chat-room-name a{
  color: white;
  text-decoration: none;
}